{%
	var report_columns = report.get_columns_for_print();
%}
<div style="margin-bottom: 7px;" class="text-center">
	{%= frappe.boot.letter_heads[filters.letter_head || frappe.defaults.get_default("letter_head")].header %}
</div>
<h2 class="text-center">{%= __(report.report_name) %}</h2>
<h5 class="text-center">{%= filters.from_date %} &mdash; {%= filters.to_date %}</h5>
<hr>
<table class="table table-bordered">
	<thead>
		<tr>
			{% for(var i=1, l=report_columns.length; i<l; i++) { %}
				<th class="text-right">{%= report_columns[i].label %}</th>
			{% } %}
		</tr>
	</thead>
	<tbody>
		{% for(var j=0, k=data.length; j<k; j++) { %}
			{%
				var row = data[j];
			%}
			<tr>
				{% for(var i=1, l=report_columns.length; i<l; i++) { %}
					<td class="text-right">
						{% var fieldname = report_columns[i].fieldname; %}
						{% if (report_columns[i].fieldtype=='Currency' && !isNaN(row[fieldname])) { %}
							{%= format_currency(row[fieldname]) %}
						{% } else { %}
							{% if (!is_null(row[fieldname])) { %}
								{%= row[fieldname] %}
							{% } %}
						{% } %}
					</td>
				{% } %}
			</tr>
		{% } %}
	</tbody>
</table>
<p class="text-right text-muted">{{ __("Printed On") }} {%= frappe.datetime.str_to_user(frappe.datetime.get_datetime_as_string()) %}</p>
