<template>
	<div class="flex flex-col gap-2 items-center justify-center relative" :class="cameraActive ? 'QrScanner--active' : 'QrScanner--inactive'">
		<div class="QrScanner__label absolute h-full w-full flex flex-col items-center justify-center">
			<span class="opacity-5 font-light text-[40px]">
				{{ __("Camera") }}
			</span>
			<span class="text-sm text-red-400 px-2" v-if="errorMessage">
				{{ errorMessage }}
			</span>
		</div>

		<video style="aspect-ratio: 1 / 1; width: 100%; object-fit: cover;" ref="videoRef"></video>

		<div class="QrScanner__buttons absolute inset-0 flex items-center p-2 gap-2 w-full">
			<template v-if="!cameraActive && lastScannedData">
				<Button variant="solid" class="w-full py-5 text-base" theme="blue" icon-right="check" @click="resubmitCode()">
					{{ __("Duplicate", null, "HRMS Scan") }}
				</Button>
				<Button variant="solid" class="w-full py-5 text-base" theme="blue" icon-right="camera" @click="showCamera()">
					{{ __("New scan", null, "HRMS Scan") }}
				</Button>
			</template>

			<Button v-if="hasFlash" size="sm" variant="soft" class="p-4 m-2 bg-yellow-400 text-black absolute top-0 right-0" icon="zap" aria-label="Flash" @click="qrScanner.toggleFlash()" />

			<slot name="buttons" />
		</div>

		<slot />
	</div>
</template>

<script setup>
import { ref, onMounted, watch } from "vue"
import QrScanner from "qr-scanner"
import { Button } from "frappe-ui";
import { useElementVisibility } from "@vueuse/core";

const props = defineProps({
	askToSubmit: {
		type: Boolean,
		default: false,
	}
})

const emits = defineEmits(["qr-detected", "qr-scanned", "qr-submit"]);

/** @type {import('vue').Ref<QrScanner>} */
const qrScanner = ref()
const videoRef = ref()
const cameraActive = ref(true)
const lastScannedData = ref(null)
const hasFlash = ref(false)
const errorMessage = ref("")
const videoVisible = useElementVisibility(videoRef)

onMounted(async () => {
	try {
		await init()
	} catch (error) {
		errorMessage.value = error
	}
})

watch(videoVisible, (visible) => {
	if (visible) {
		qrScanner.value?.start();
	} else {
		qrScanner.value?.pause();
	}
})

function onScan(data) {
	if (!data?.length) {
		return
	}
	if (!cameraActive.value) {
		return
	}

	emits("qr-detected", data);

	if (lastScannedData.value !== data) {
		lastScannedData.value = data;
		emits("qr-scanned", data);

		if (!props.askToSubmit) {
			emits("qr-submit", data);
			cameraActive.value = false
		}
	}
}

function showCamera() {
	lastScannedData.value = null
	cameraActive.value = true
}

function resubmitCode() {
	emits('qr-submit', lastScannedData.value)
}

async function init() {
	const videoElem = videoRef.value;
	if (videoElem) {
		qrScanner.value = new QrScanner(
			videoElem,
			({ data }) => {
				onScan(data);
			},
			{
				returnDetailedScanResult: true,
				highlightScanRegion: true,
				highlightCodeOutline: true,
				maxScansPerSecond: 5,
				// onDecodeError: (error) => {
				// 	if (String(error).match(/No QR code found/)) {
				// 		error = ""
				// 	}
				// 	errorMessage.value = error
				// },
			},
		);
		await qrScanner.value.start();

		hasFlash.value = await qrScanner.value.hasFlash();
	}
}
</script>

<style>
.QrScanner--inactive > video {
	opacity: 0.3;
	filter: blur(4px);
}
</style>