<script setup>
import { inject } from "vue";
import { getEmployeeInfo } from "../data/employees"
const __ = inject("$translate")

defineProps({ id: String })
</script>

<template>
	<span v-if="id">
		{{ getEmployeeInfo(id)?.employee_name || id }}
	</span>
	<span v-else class="italic">
		{{ __('No Employees Selected') }}
	</span>
</template>
