<template>
	<ion-button color="dark" @click="takePicture" >{{ __("Expense") }}
		<ion-icon slot="end" :icon="camera"></ion-icon>
	</ion-button>
	<img v-if="imageUrl" :src="imageUrl" alt="Expense Image" />
	<div>
		<table class="flex flex-col gap-1" v-if="expense.expense_details?.length">
			<tr class="p-1 rounded flex flex-nowrap gap-2">
				<th class="text-left flex-1">{{ __("Expense") }}</th>
				<th class="text-center flex-1">{{ __("Amount") }}</th>
				<th class="text-left flex-1 ">{{ __("Tax Rate") }}</th>
			</tr>
			<template v-for="row in expense.expense_details">
				<tr class="p-1 rounded border bg-gray-50 flex items-center gap-2" :class="getRowColor(row)" @click="setData(row)">
					<td class="flex-1 text-lg">{{ __(row.expense_type) }}</td>
					<td class="text-right flex-1 ">{{ row.amount }} €</td>
					<td class="text-right flex-1 ">{{ row.tax_rate }} %</td>
					<td>
						<Button icon="edit-2" variant="ghost" />
					</td>
				</tr>
			</template>
		</table>

		<form @submit.prevent="() => {}" class="flex flex-col gap-2 mt-3 p-3 rounded border bg-gray-50">
			<FormField v-model="data.expense_type" :label="__('Expense Type')" fieldtype="Link" options="Expense Claim Type" reqd />
			<FormField v-model="data.amount" :label="__('Amount')" fieldtype="Currency" reqd />
			<FormField v-if="data.tax_rate" v-model="data.tax_rate" :label="__('Tax Rate')" fieldtype="Percent" reqd />
			<FormField v-model="data.receipt" label="" fieldtype="Attach" :value="imageUrl" />
			<Button v-if="formValid" size="md" type="submit" :theme="formValid ? 'blue' : 'gray'" @click="save" variant="solid" :label="isNewRow ? __('Insert') : __('OK')" />
			<div class="flex flex-row gap-2">
				<Button v-if="formValid && data.name" @click="remove" :label="__('Delete')" class="grow" size="md" type="button" variant="solid" theme="red" />
				<Button v-if="formValid && data.name" @click="cancel" :label="__('Cancel')" class="grow" size="md" type="reset" variant="solid" />
			</div>
		</form>
	</div>
</template>

<script setup>
import { IonButton, IonIcon } from '@ionic/vue';
import { camera } from 'ionicons/icons';
import { reactive, computed, ref } from "vue"
import FormField from "@/components/FormField.vue"
import { Camera, CameraResultType } from '@capacitor/camera'
import { FileAttachment } from "@/composables"

// NOTE: cannot use 'submit' native event because Frappe UI forgets to add 'type' HTML attribute to buttons

const props = defineProps({
	expense: {
		type: Object,
		required: true,
	},
})
const emits = defineEmits(["upsertExpenseDetail", "deleteExpenseDetail", "setReceipt"])

const DEFAULTS = {
	name: null,
	amount: "",
	expense_type: "",
	tax_rate: "",
	net_amount: "",
	tax_amount: "",
	receipt: "",
}
const data = reactive({ ...DEFAULTS })

const setData = (resetData = {}) => {
	Object.assign(data, DEFAULTS, resetData)
}

const save = () => {
	const row = { ...data }
	row.amount = +row.amount
	emits("upsertExpenseDetail", row)

	setData()
}

const isNewRow = computed(() => {
	return !data.name
})

const formValid = computed(() => {
	return data.expense_type && data.amount
})

function cancel() {
	setData()
}

function remove() {
	emits("deleteExpenseDetail", data.name)
	setData()
}

function getRowColor(row) {
	if (row.name === data.name) {
		return 'shadow-lg border bg-yellow-200';
	}
}

const imageUrl = ref('');

async function takePicture() {
	try {
		const image = await Camera.getPhoto({
			quality: 90,
			allowEditing: true,
			resultType: CameraResultType.Uri
		});

		imageUrl.value = image.webPath;
		data.receipt = imageUrl.value;

		const response = await fetch(image.webPath);
		const blob = await response.blob();
		const file = new File([blob], "photo.png", { type: blob.type });

		const fileAttachment = new FileAttachment(file);
		emits("setReceipt", fileAttachment)

	} catch (error) {
		console.error('Error taking picture:', error);
	}
}
</script>
