<template #body>
	<section v-if="rangeTotal" class="flex flex-col">
		<header>
			<h3 class="font-bold flex gap-1 pb-2">
				<div>
					{{ __(dateRange) }}
					<template v-if="rangeTotal">
						&ndash;
						{{ formatDuration(rangeTotalFiltered * 3.6e6, "shorter") }}
					</template>
					<template v-else>
						{{ __("No Data") }}
					</template>
				</div>

				<hr class="ml-auto opacity-0" />

				<Button
					variant="solid"
					theme="gray"
					icon="refresh-ccw"
					@click="timesheetDetails.fetch()"
				/>
				<Button
					variant="solid"
					theme="gray"
					icon="clock"
					@click="selectTimeRangeDialog = true"
				/>
				<Button
					variant="solid"
					:theme="selectedEmployees.length ? 'blue' : 'gray'"
					icon="users"
					@click="selectEmployeeDialog = true"
				/>

				<Dialog v-model="selectTimeRangeDialog">
					<template #body-title>
						<h3>{{ __("Date Range") }}</h3>
					</template>
					<template #body-content>
						<div class="flex flex-col gap-2">
							<template v-for="value in DATE_RANGE_OPTIONS" :key="value">
								<Button :variant="dateRange == value ? 'solid' : 'subtle'" theme="gray" :label="__(value)" @click="dateRange = value" />
							</template>
						</div>
					</template>
				</Dialog>

				<Dialog v-model="selectEmployeeDialog">
					<template #body-title>
						<h3>{{ __("Employees") }}</h3>
					</template>
					<template #body-content>
						<div class="flex flex-col gap-2">
							<template v-for="name in availableEmployees" :key="name">
								<div class="flex items-center gap-2">
									<input
										class="rounded-sm h-5 w-5"
										type="checkbox"
										:id="`selected-${name}`"
										v-model="selectedEmployees_kv[name]"
									/>
									<label :for="`selected-${name}`">
										<EmployeeName :id="name" />
									</label>
								</div>
							</template>
						</div>
					</template>
				</Dialog>
			</h3>
		</header>
		<div class="flex flex-row justify-between overflow-auto gap-1">
			<div
				v-for="[date, items] in groupedDetailsFiltered"
				:key="date"
				class="flex flex-col shrink-0"
				:style="{ width: columnWidth }"
			>
				<div class="text-sm font-bold truncate">
					{{ formatDate(new Date(date)) }}
				</div>
				<div class="class flex flex-col grow bg-white rounded-sm">
					<template v-for="detail in items" :key="detail.name">
						<TimeSheetStackItem :hour-height="hourHeight" :detail="detail" />
					</template>

					<div
						v-if="totalHoursPerDay[date]"
						class="font-bold self-center rounded-full px-2 bg-gray-100 my-2 -mx-4"
					>
						{{ totalHoursPerDay[date] }}
					</div>
				</div>
			</div>
		</div>
	</section>
</template>

<script setup>
import { ref, computed, onMounted, watch, nextTick } from "vue"
import { employeeResource } from "../data/employee"
import TimeSheetStackItem from "./TimeSheetStackItem.vue"
import { timesheetDetails, dateRange, DATE_RANGE_OPTIONS } from "../data/timesheetDetails"
import { formatDuration } from "../composables/formatDuration"
import { Button, Dialog } from "frappe-ui"
import EmployeeName from "./EmployeeName.vue"

const selectEmployeeDialog = ref(false)
const selectTimeRangeDialog = ref(false)

onMounted(() => timesheetDetails.fetch())

const groupedDetails = computed(() => {
	if (timesheetDetails.data) {
		/** @type {Array<[string, { employee: string, project: string, sum_hours: number }[]]>} */
		const groupedByDate = Object.entries(timesheetDetails.data);
		groupedByDate.sort((a, b) => a[0].localeCompare(b[0]));
		return groupedByDate;
	}
})

const selectedEmployees_kv = ref({})
const selectedEmployees = computed(() => {
	return Object.entries(selectedEmployees_kv.value).filter(([, v]) => v).map(([k]) => k)
})
const stop = watch(
	() => employeeResource.data?.name,
	() => {
		nextTick(() => {
			if (employeeResource.data?.name && !selectedEmployees.value.length) {
				selectedEmployees_kv.value[employeeResource.data.name] = true
			}
			stop()
		})
	}, { immediate: true }
)

const groupedDetailsFiltered = computed(() => {
	if (selectedEmployees.value.length) {
		const out = []
		for (const [date, rows] of groupedDetails.value) {
			const filtered = rows.filter((it) => selectedEmployees.value.includes(it.employee))
			out.push([date, filtered])
		}
		return out
	}
	return groupedDetails.value
})

const totalHoursPerDay = computed(() => {
	if (groupedDetailsFiltered.value) {
		/** @type {Record<string, number>} */
		const result = {}

		groupedDetailsFiltered.value.forEach(([date_start, rows]) => {
			if (!result[date_start]) {
				result[date_start] = 0
			}
			const totalHours = rows.reduce((sum, it) => sum + it.sum_hours, 0)

			result[date_start] = formatDuration(3.6e6 * totalHours, "short")
		})

		return result
	}
	return {}
})

const rangeTotal = computed(() => {
	let sum = 0
	groupedDetails.value?.forEach(([date_start, rows]) => {
		rows?.forEach((it) => {
			sum += it.sum_hours
		})
	})
	return sum
})

const rangeTotalFiltered = computed(() => {
	let sum = 0
	groupedDetailsFiltered.value?.forEach(([date_start, rows]) => {
		rows?.forEach((it) => {
			sum += it.sum_hours
		})
	})
	return sum
})

const longestDay = computed(() => {
	let max = 0
	groupedDetails.value?.forEach(([date_start, rows]) => {
		let sum = 0
		rows?.forEach((it) => {
			sum += it.sum_hours
		})

		if (sum > max) {
			max = sum
		}
	})
	return max
})

const availableEmployees = computed(() => {
	const employees = new Set()
	groupedDetails.value?.forEach(([date_start, rows]) => {
		rows?.forEach((it) => {
			employees.add(it.employee)
		})
	})
	return Array.from(employees)
})

const MAX_WIDGET_HEIGHT = 250
const TYPICAL_WORKING_HOURS = 8
const hourHeight = computed(() => {
	const a = (MAX_WIDGET_HEIGHT * TYPICAL_WORKING_HOURS) / (0.01 + longestDay.value)
	const b = 30
	return Math.min(Math.round(a), b)
})

const columnWidth = computed(() => {
	const isWeek = dateRange.value?.match(/week/i);
	if (!isWeek) {
		return "17vw";
	}
	return "26vw";
})

function formatDate(/** @type {Date} */ date) {
	const format = {
		year: "numeric",
		month: "short",
		day: "numeric",
		weekday: "short",
	}

	const today = new Date()
	if (date.getFullYear() === today.getFullYear()) {
		delete format.year

		if (date.getMonth() == today.getMonth()) {
			if (dateRange.value?.match(/this month/i)) {
				delete format.month
			}
		}
	}

	try {
		const formatter = new Intl.DateTimeFormat(frappe.boot.lang, format)
		return formatter.format(date)
	} catch (error) {
		console.error(error)
		return String(date)
	}
}
</script>
