<template>
	<Button @click="dialog = true" variant="solid" class="w-full py-5" icon-right="check">
		{{ __("Submit Timesheets") }}
	</Button>
	<Dialog v-model="dialog">
		<template #body-title>
			<h3>{{ __("Submit Timesheets") }}</h3>
		</template>
		<template #body-content>
			<div class="timesheet-container flex flex-col gap-2">
				<label class="flex items-center gap-2 px-4 pb-2">
					<input
						@click="toggleSelectAll"
						type="checkbox"
						variant="solid"
						class="rounded-sm h-5 w-5 !ring-transparent"
						:checked="isAllSelected"
					/>
					{{ isAllSelected ? __("Deselect All") : __("Select All") }}
				</label>
				<template v-for="time_sheet in listTimeSheets.data" :key="time_sheet.name">
					<div class="flex items-center gap-2 border p-4 rounded-md bg-gray-100">
						<input
							class="rounded-sm h-5 w-5"
							type="checkbox"
							:id="`selected-${time_sheet.name}`"
							v-model="selection[time_sheet.name]"
						/>
						<label :for="`selected-${time_sheet.name}`" class="sr-only">
							<EmployeeName :id="time_sheet.employee" />
						</label>
						<details class="grow">
							<summary class="flex items-center">
								<EmployeeName :id="time_sheet.employee" />
								<FeatherIcon class="h-5 w-5 ml-auto" name="chevron-down" />
							</summary>
							<table class="min-w-full table-auto">
								<tbody>
									<tr>
										<td colspan="2">
											<a
												class="underline text-blue-700"
												:href="`/app/timesheet/${time_sheet.name}`"
												target="_blank"
											>
												{{ time_sheet.name }}
											</a>
										</td>
									</tr>
									<tr>
										<th class="text-left font-bold">{{ __("Duration") }}</th>
										<td>{{ formatDuration(time_sheet.total_hours * 3.6e6, "short") }}</td>
									</tr>
									<tr>
										<th class="text-left font-bold">{{ __("Start Date") }}</th>
										<td>{{ time_sheet.start_date }}</td>
									</tr>
									<tr>
										<th class="text-left font-bold">{{ __("End Date") }}</th>
										<td>{{ time_sheet.end_date }}</td>
									</tr>
								</tbody>
							</table>
						</details>
					</div>
				</template>
			</div>
		</template>
		<template #actions>
			<div class="flex flex-row-reverse">
				<Button @click="handleSubmit()" variant="solid">
					{{ __("Submit") }}
				</Button>
			</div>
			<div class="text-red-700 bg-red-100 rounded mt-4 p-4 font-semibold" v-if="errorText">
				{{ errorText }}
			</div>
		</template>
	</Dialog>
</template>

<script setup>
import { ref, reactive, computed, watch, inject } from "vue"
import { createListResource, Dialog, FeatherIcon, frappeRequest, toast } from "frappe-ui"
import EmployeeName from "./EmployeeName.vue"
import { formatDuration } from "../composables/formatDuration";

const dialog = ref(false)
const selection = reactive({})
const errorText = ref("")
const __ = inject("$translate")

const listTimeSheets = createListResource({
	auto: true,
	doctype: "Timesheet",
	fields: ["*"],
	filters: {
		docstatus: "0",
	},
	orderBy: "creation desc",
	start: 0,
})

watch(dialog, () => listTimeSheets.fetch())

const isAllSelected = computed(() => {
	return (
		listTimeSheets.data.length > 0 &&
		listTimeSheets.data.every((time_sheet) => selection[time_sheet.name])
	)
})

const toggleSelectAll = () => {
	const newValue = !isAllSelected.value
	listTimeSheets.data.forEach((time_sheet) => {
		selection[time_sheet.name] = newValue
	})
}

watch(
	() => listTimeSheets.data,
	(newList) => {
		newList.forEach((time_sheet) => {
			if (selection[time_sheet.name] == null) {
				selection[time_sheet.name] = false
			}
		})
	}
)

const handleSubmit = async () => {
	const timesheetNames = Object.keys(selection).filter((key) => selection[key])
	if (!timesheetNames.length) {
		return
	}

	try {
		errorText.value = ""

		await frappeRequest({
			url: "hrms.api.submit_timesheets",
			params: { names: timesheetNames },
		})

		toast({
			title: __("Success"),
			text: __("Document has been submitted"),
			icon: "check-circle",
			position: "bottom-center",
			iconClasses: "text-green-500",
		})

		dialog.value = false
	} catch (err) {
		console.error(err)
		errorText.value = err.messages?.join("\n") ?? String(err)
	} finally {
		listTimeSheets.reload()
	}
}
</script>

<style>
.timesheet-container {
	max-height: 300px;
	overflow-y: auto;
	padding-right: 8px;
}
</style>
