<template>
	<router-link :to="{ name: 'TimesheetDetailView', params: { id: doc.name } }">
		<div class="p-3.5 items-center justify-between border-b cursor-pointer gap-1" :key="doc.name">
			<div class="timesheet-item">
				<div class="flex justify-between items-center">
					<div class="text-2xl">{{ doc.activity_type }}</div>
					<div class="flex items-center space-x-2">
						<FeatherIcon name="chevron-right" class="h-5 w-5 text-gray-500" />
					</div>
				</div>

				<div class="flex flex-row gap-5 h-8 justify-between py-px mt-3">
					<div class="flex flex-col">
						<span class="whitespace-nowrap text-xs font-normal truncate">
							<EmployeeName :id="doc.employee" />
						</span>
						<div class="flex flex-col text-sm truncate">{{ doc.project }}</div>
					</div>
					<span class="whitespace-nowrap justify-end text-xs font-normal text-gray-500 content-end">
						{{ formattedDateTimeRange }}
					</span>
				</div>
			</div>
		</div>
	</router-link>
</template>

<script setup>
// @ts-check
import EmployeeName from "../components/EmployeeName.vue"
import { computed } from "vue"
import { FeatherIcon } from "frappe-ui"

const props = defineProps({
	doc: {
		type: Object,
		required: true,
	},
})
const formattedDateTimeRange = computed(() => {
	return formatDateTimeRange(new Date(props.doc.from_time), props.doc.to_time ? new Date(props.doc.to_time) : null)
})

/**
 * @param {Date | null} date1
 * @param {Date | null} date2
 * @return {string}
 */
function formatDateTimeRange(date1 = null, date2 = null) {
	const format = {
		year: "numeric",
		month: "short",
		day: "numeric",
		hour: "numeric",
		minute: "numeric",
	}

	const y1 = date1?.getFullYear()
	const y2 = date2?.getFullYear()
	const y3 = new Date().getFullYear()

	if (y1 === y2 && y1 === y3) {
		const ymd1 = date1?.toISOString().split("T")[0]
		const ymd2 = date2?.toISOString().split("T")[0]
		const ymd3 = new Date().toISOString().split("T")[0]

		delete format.year
		if (ymd1 === ymd2 && ymd1 === ymd3) {
			delete format.month
			delete format.day
		}
	}

	try {
		const formatter = new Intl.DateTimeFormat(frappe.boot.lang, format)
		if (date1 && date2) return formatter.formatRange(date1, date2)
		if (date1) return formatter.format(date1) + "–"
		if (date2) return "–" + formatter.format(date2)
		return "?"
	} catch (error) {
		console.error(error)
		return `${date1} - ${date2}`
	}
}
</script>
