<template>
  <router-link :to="{ name: 'TimesheetDetailView', params: { id: item.timerId } }" ref="el">
    <div class="p-3.5 items-center justify-between cursor-pointer gap-1 bg-green-200 border-solid border-green-600 rounded ">
      <div class="flex justify-between items-center">
        <div class="font-semibold text-lg text-gray-800 truncate">
          <span v-if="item.activity_type">{{ item.activity_type }}</span>
          <span v-else class="italic">{{ __("Timer") }}</span>
        </div>
        <div class="flex items-center space-x-2">
          <FeatherIcon name="chevron-right" class="h-5 w-5 text-gray-500" />
        </div>
      </div>
      <div class="flex flex-row gap-5 min-h-4 justify-between mt-2 text-sm">
        <div class="flex flex-col justify-end">
          <span class="whitespace-nowrap font-normal truncate">
            <EmployeeName :id="item.employee" />
            <b v-if="item.employees?.length">
              + {{ item.employees?.length }}
            </b>
          </span>
          <div class="flex flex-col text-sm truncate">{{ item.project }}</div>
        </div>
        <span class="tabular-nums tracking-tighter text-right whitespace-nowrap justify-end content-end">
          {{ progressRate }}
        </span>
      </div>
    </div>
  </router-link>
</template>

<script setup>
import { useElementVisibility, useRafFn } from '@vueuse/core';
import { FeatherIcon } from 'frappe-ui';
import { ref, defineProps, watch } from 'vue';
import EmployeeName from '../components/EmployeeName.vue';
import { formatDuration } from '../composables/formatDuration';

const props = defineProps({
  item: {
    type: Object,
    required: true
  }
});

const el = ref(null);
const progressRate = ref("");

const updateTimer = () => {
  const now = Date.now();
  const fromTime = new Date(props.item.from_time).getTime();
  const elapsed = now - fromTime;

  progressRate.value = formatDuration(elapsed);
}

const { pause, resume } = useRafFn(updateTimer)

watch(useElementVisibility(el), (visibility) => {
  if (visibility) {
    resume();
    updateTimer();
  } else {
    pause();
  }
})
</script>
