<template>
	<div class="TimeSheetStackItem flex flex-col gap-0 pt-0.5 pl-0.5 rounded-sm border-b-2 border-white shadow-inner" :style="{ height, '--color': color }">
		<div class="text-sm font-bold">{{ formatDuration(3.6e6 * detail.sum_hours, "short") }}</div>
		<div class="text-xs truncate whitespace-pre-line" v-if="detail.project">
			{{ detail.project }}
		</div>
	</div>
</template>

<script setup>
import { computed } from "vue";
import { formatDuration } from "../composables/formatDuration";

const props = defineProps({
	detail: Object,
	hourHeight: Number,
});

const height = computed(() => {
	const hrs = props.detail.sum_hours || 0
	const hourHeight = props.hourHeight || 60
	const clamped = Math.max(0, Math.min(hrs, 9))
	return `${hourHeight * clamped}px`;
})

const color = computed(() => {
	const key = props.detail.project || ""
	const hue = Math.round((stringHash32(key) >>> 16) % 360);
	const saturation = 50;
	const adjust = 20 + 0.5 * hue - (6.2e-2 * hue) ** 2 + (1.895e-2 * hue) ** 3;
	const lightness = 80 - adjust / 2;
	return `hsl(${hue}, ${saturation}%, ${lightness}%)`;
})

/**
 * Calculate a 32 bit FNV-1a hash
 * Found here: https://gist.github.com/vaiorabbit/5657561
 * Ref.: http://isthe.com/chongo/tech/comp/fnv/
 *
 * @param {string} str the input value
 * @param {number} [hval] optionally pass a seed
 * @returns {number}
 */
function stringHash32(str, hval = 0x811c9dc5) {
	for (let i = 0, l = str.length; i < l; ++i) {
		hval ^= str.charCodeAt(i);
		hval += (hval << 1) + (hval << 4) + (hval << 7) + (hval << 8) + (hval << 24);
	}
	return hval >>> 0;
}
</script>

<style>
.TimeSheetStackItem {
	background-color: var(--color, #eee);
}
</style>
