<template>
	<svg width="80.075mm" height="77.739mm" version="1.1" viewBox="0 0 80.07457 77.738579" id="svg2"
		sodipodi:docname="hrms_logo.svg" inkscape:version="1.3.2 (1:1.3.2+202311252150+091e20ef0f)"
		xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
		xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns="http://www.w3.org/2000/svg"
		xmlns:svg="http://www.w3.org/2000/svg" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
		xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/">
		<defs id="defs2">
			<rect x="54.67918" y="116.79148" width="140.11328" height="26.613758" id="rect3" />
		</defs>
		<sodipodi:namedview id="namedview2" pagecolor="#ffffff" bordercolor="#000000" borderopacity="0.25"
			inkscape:showpageshadow="2" inkscape:pageopacity="0.0" inkscape:pagecheckerboard="0"
			inkscape:deskcolor="#d1d1d1" inkscape:document-units="mm" inkscape:zoom="2.7364001" inkscape:cx="151.11094"
			inkscape:cy="146.90834" inkscape:window-width="1920" inkscape:window-height="1052" inkscape:window-x="0"
			inkscape:window-y="0" inkscape:window-maximized="1" inkscape:current-layer="svg2" />
		<metadata id="metadata1">
			<rdf:RDF>
				<cc:Work rdf:about="">
					<dc:format>image/svg+xml</dc:format>
					<dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
				</cc:Work>
			</rdf:RDF>
		</metadata>
		<g transform="translate(-101.33 -150.79)" id="g2" style="fill:#c5ead4;fill-opacity:1"
			inkscape:export-filename="g2.png" inkscape:export-xdpi="126.88165" inkscape:export-ydpi="126.88165">
			<g transform="matrix(.48387 0 0 .46976 85.495 54.406)" stroke-linecap="round" id="g1"
				style="fill:#c5ead4;fill-opacity:1">
				<rect x="37.96" y="210.41" width="155" height="155" fill="#6195ff" stroke="#6195ff"
					stroke-linejoin="round" stroke-miterlimit="0" stroke-width="10.487"
					style="paint-order:normal;fill:#c5ead4;fill-opacity:1;stroke:#c5ead4;stroke-opacity:1" id="rect1"
					inkscape:label="rect1" />
				<circle cx="114.81" cy="287.81" r="72.5" fill="#6195ff" stroke="#fff" stroke-width="10.487"
					style="paint-order:normal;fill:#c5ead4;fill-opacity:1" id="circle1" />
				<path transform="matrix(1.0092 0 0 1 13.541 169.9)"
					d="m71.06 53.205c19.502 7.6536 36.18 22.289 46.302 40.632 5.4357 9.8509 9.0322 20.805 9.7225 32.035 0.69032 11.23-1.608 22.733-7.2296 32.479-5.6217 9.746-14.654 17.624-25.33 21.177-10.676 3.5525-22.927 2.5584-32.537-3.2924-8.789-5.3507-15.11-14.759-16.264-24.983-0.57692-5.1124 0.10484-10.37 2.0275-15.142 1.9227-4.772 5.0885-9.0458 9.1339-12.224 4.2357-3.3282 9.3857-5.4263 14.706-6.2688 5.3206-0.84242 10.805-0.45108 16.025 0.87925 10.44 2.6606 19.634 8.9639 27.477 16.351 3.9951 3.763 7.705 7.8354 11.91 11.363 4.2048 3.5271 9.0018 6.5351 14.36 7.7252 5.6859 1.2631 11.827 0.34928 16.899-2.5144 5.0719-2.8637 9.0266-7.6505 10.882-13.172"
					fill="none" stroke="#fff" stroke-width="10.44" id="path1" style="fill:#c5ead4;fill-opacity:1" />
			</g>
		</g>
		<text xml:space="preserve" transform="matrix(0.26052935,-0.04613077,0.04613077,0.26052935,4.8262732,23.996558)"
			id="text2"
			style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:18.6667px;font-family:Lato;-inkscape-font-specification:'Lato, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;white-space:pre;shape-inside:url(#rect3);display:inline;fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-width:0.377953;stroke-dasharray:none;stroke-opacity:1">
			<tspan x="54.679688" y="134.15105" id="tspan2">HR</tspan>
		</text>
	</svg>
</template>
