<template>
	<ion-page>
		<ion-content :fullscreen="true">
			<div class="header-container flex items-center bg-white shadow-sm py-4 px-3 sticky top-0 z-[1000]">
				<Button variant="ghost" class="!pl-0 hover:bg-white" @click="router.back()">
					<FeatherIcon name="chevron-left" class="h-5 w-5" />
				</Button>
				<h2 class="text-xl font-semibold text-gray-900">
					{{ __("New Timesheet", null, "HRMS Scan") }}
				</h2>
			</div>

			<div class="flex flex-col p-4 gap-7">
				<Summary />

				<router-link :to="{ name: 'ScanFormView' }" v-slot="{ navigate }">
					<Button @click="navigate" variant="solid" class="w-full py-5" icon-right="plus">
						{{ __("Manual entry", null, "HRMS Scan") }}
					</Button>
				</router-link>

				<TimeSheetStackColumns />

				<div class="flex flex-col gap-4">
					<div class="flex justify-between items-center text-lg text-gray-800 font-bold">
						{{ __("Timesheets", null, "HRMS Scan") }}
					</div>

					<TimeSheetSubmitDialog />

					<div class="flex flex-col bg-white rounded overflow-auto">
						<TimeSheetItems
							v-for="timesheet in timeLogsListResource.data"
							:key="timesheet.name"
							:doc="timesheet"
						/>
					</div>
					<div class="flex flex-col">
						<!-- <Button
							v-if="timeLogsListResource.hasNext"
							@click="timeLogsListResource.next()"
							icon-right="chevron-down"
							variant="subtle"
							size="lg"
							:label="__('Load more')"
							:loading="loading"
						/> -->
					</div>
				</div>
			</div>
		</ion-content>
	</ion-page>
</template>

<script setup>
import TimeSheetItems from "@/components/TimeSheetItems.vue";
import { IonContent, IonPage, onIonViewWillEnter } from "@ionic/vue";
import { Button, FeatherIcon } from "frappe-ui";
import { useRouter } from "vue-router";
import TimeSheetStackColumns from '../../components/TimeSheetStackColumns.vue';
import TimeSheetSubmitDialog from "../../components/TimeSheetSubmitDialog.vue";
import Summary from "./Summary.vue";
import { timeLogsListResource } from "./timerStore";

const router = useRouter()

onIonViewWillEnter(() => {
	timeLogsListResource.fetch();
});
</script>
