<template>
	<ion-page>
		<ion-content :fullscreen="true">
			<div class="header-container flex items-center bg-white shadow-sm py-4 px-3 sticky top-0 z-[1000]">
				<Button variant="ghost" class="!pl-0 hover:bg-white" @click="router.back()">
					<FeatherIcon name="chevron-left" class="h-5 w-5" />
				</Button>
				<h2 class="text-xl font-semibold text-gray-900">
					{{ __("Timesheet Detail") }}
				</h2>
			</div>

			<form @submit.prevent="() => {}" class="bg-white min-h-full flex flex-col">
				<div class="flex flex-col gap-4 p-4 mb-4">
					<template v-for="df in formFields" :key="df.fieldname">
						<FormField
							:fieldname="df.fieldname"
							:fieldtype="df.fieldtype"
							v-bind="df"
							v-model="timeLogData[df.fieldname]"
							:label="__(df.label, null, 'Timesheet Detail')"
							:description="__(df.description, null, 'Timesheet Detail')"
							:read-only="isDocReadOnly"
							v-if="df.fieldtype == 'Datetime' ? !!timeLogData[df.fieldname] : true"
						/>
					</template>

					<div v-if="employeeDf" class="flex flex-col gap-1">
						<FormField
							v-bind="employeeDf"
							v-model="timeLogData.employee"
							:label="__(employeeDf.label, null, 'Timesheet Detail')"
							:description="__(employeeDf.description, null, 'Timesheet Detail')"
							:read-only="isDocReadOnly || (!!timeLogData.name)"
							reqd
						/>
						<template v-if="!timeLogData.name && Array.isArray(timeLogData.employees)">
							<div class="flex items-center w-full gap-1" v-for="_val, idx in timeLogData.employees">
								<FormField
									fieldtype="Link"
									options="Employee"
									v-model="timeLogData.employees[idx]"
									:read-only="isDocReadOnly"
									class="flex-1 -mt-1.5"
								/>
								<Button icon="x" @click="timeLogData.employees.splice(idx, 1)" :aria-label="__('Remove')" />
							</div>
							<div class="flex flex-row py-1 gap-1" v-if="!timeLogData.employees.length || timeLogData.employees[timeLogData.employees.length - 1]">
								<Button v-if="!timeLogData.employees.length" class="flex-1" size="sm" variant="outline" @click="addTeam()" icon-left="users" :label="__('Add team', null, 'HRMS Scan')" />
								<Button class="flex-1" size="sm" variant="outline" @click="addEmployee()" icon-left="user-plus" :label="__('Add employee', null, 'HRMS Scan')" />
							</div>
						</template>
					</div>
				</div>

				<div class="flex flex-col-reverse gap-3 mt-auto bg-white shadow px-4 pt-4 pb-4 standalone:pb-safe-bottom bg-white sticky bottom-0 w-full drop-shadow-xl z-40 border-t rounded-t-lg">
					<Button
						v-if="!isDocReadOnly"
						class="py-5"
						variant="solid"
						:loading="loading"
						icon-right="check"
						type="submit"
						@click="saveForm()"
					>
						{{ isAPendingTimer ? __("OK") : __("Save") }}
					</Button>
					<Button
						v-if="isAPendingTimer && !isDocReadOnly"
						class="py-5"
						:loading="loading"
						icon-right="check-circle"
						@click="closeTimer()"
					>
						{{ __("Stop timer", null, "HRMS Scan") }}
					</Button>
					<Button
						v-if="!isAPendingTimer && timeLogData.name"
						class="py-5"
						:loading="loading"
						icon-right="clock"
						@click="duplicateAsTimer()"
					>
						{{ __("Duplicate as timer", null, "HRMS Scan") }}
					</Button>
					<Button
						v-if="!isAPendingTimer && !timeLogData.name"
						class="py-5"
						:loading="loading"
						icon-right="clock"
						@click="startAsTimer()"
					>
						{{ __("Start as timer", null, "HRMS Scan") }}
					</Button>
					<Button
						v-if="isAPendingTimer && !isDocReadOnly"
						class="py-5"
						:loading="loading"
						theme="red"
						icon-right="x"
						@click="deleteTimer(timeLogData.timerId); router.back()"
					>
						{{ __("Delete") }}
					</Button>

					<div class="border bg-red-50 border-red-700 text-red-700 text-sm rounded p-4" v-if="submitError">
						{{ submitError }}
					</div>
				</div>
			</form>
		</ion-content>
	</ion-page>
</template>

<script setup>
import { ref, watch, onMounted, computed } from "vue"
import { IonPage, IonContent } from "@ionic/vue"
import { frappeRequest, FeatherIcon, Button, createListResource } from "frappe-ui"
import FormField from "../../components/FormField.vue"
import { onBeforeRouteUpdate, useRouter } from "vue-router"
import { ISOLocaleString, upsertTimeLog, getTimeLog, isTimer, isReadOnly, deleteTimer } from "./timerStore"
import { employeeResource } from "../../data/employee"
const router = useRouter()

const formFields = ref([])
const employeeDf = ref(null)

const props = defineProps({
	id: {
		type: String,
		default: "",
	},
})

const timeLogData = ref({
	activity_type: "",
	from_time: ISOLocaleString(new Date()),
	to_time: ISOLocaleString(new Date()),
	project: "",
})

onMounted(async () => {
	try {
		const [tsFields, timeLogFields, ] = await Promise.all([
			frappeRequest({
				method: "GET",
				url: "hrms.api.get_doctype_fields",
				params: { doctype: "Timesheet" },
			}),
			frappeRequest({
				method: "GET",
				url: "hrms.api.get_doctype_fields",
				params: { doctype: "Timesheet Detail" },
			}),
			employeeResource.promise,
		])
		const employeeField = tsFields.find((df) => df.fieldname == "employee")
		const fields = [...timeLogFields]

		employeeDf.value = employeeField
		formFields.value = getFilteredFields(fields)
	} catch (error) {
		console.error("Error:", error)
	}
})

watch(
	() => props.id,
	async (id) => {
		if (!id) {
			return populateFormWithQRData({})
		}
		try {
			var data = await getTimeLog(id)
		} catch (error) {
			console.warn(error)
			data = {}
		}
		populateFormWithQRData(data)
	},
	{ immediate: true }
)

onBeforeRouteUpdate((to, _from) => {
	if (!to.params.id) {
		// Reset form when navigating to it without an ID
		populateFormWithQRData({})
	}
})

function populateFormWithQRData(data) {
	timeLogData.value = {
		employee: employeeResource?.data?.name,
		...data,
		employees: Array.isArray(data.employees) ? data.employees.filter(Boolean) : [],
		from_time: data.from_time ?? ISOLocaleString(new Date()),
		to_time: data.to_time ?? ISOLocaleString(new Date()),
	}
}

const computeHours = () => {
	const fromDate = new Date(timeLogData.value.from_time)
	const toDate = new Date(timeLogData.value.to_time)

	if (isNaN(fromDate.getTime()) || isNaN(toDate.getTime())) {
		return 0
	}

	const diffInMilliseconds = toDate - fromDate
	return diffInMilliseconds / (1000 * 60 * 60)
}

watch(
	[() => timeLogData.value.from_time, () => timeLogData.value.to_time],
	() => {
		timeLogData.value.hours = computeHours()
	},
	{ immediate: true }
)

const loading = ref(false)
const submitError = ref("")

function getFilteredFields(fields) {
	const prioritizedFields = ["from_time", "to_time", "activity_type", "project"]
	const excludedFields = [
		"naming_series",
		"task",
		"expected_hours",
		"completed",
		"project_name",
		"sales_invoice",
		"base_billing_rate",
		"base_billing_amount",
		"base_costing_rate",
		"base_costing_amount",
		"costing_amount",
		"billing_amount",
		"billing_hours",
		"billing_rate",
		"costing_rate",
		"hours",
	]

	const filteredFields = fields.filter((field) => {
		if (excludedFields.includes(field.fieldname)) {
			return false
		}
		if (field.fieldtype.match(/Break/)) {
			return false
		}
		return true
	})

	filteredFields.sort((a, b) => {
		const i = prioritizedFields.indexOf(a.fieldname)
		const j = prioritizedFields.indexOf(b.fieldname)

		if (i == -1 || j == -1) {
			return i <= j ? 1 : -1
		}
		return i - j
	})

	return filteredFields
}

async function submitForm(data) {
	try {
		submitError.value = ""
		loading.value = true
		await upsertTimeLog(data)
		router.back()
	} catch (error) {
		submitError.value = error.message || "An error occurred during form submission."
		console.error(error)
	} finally {
		loading.value = false
	}
}

const isAPendingTimer = computed(() => {
	return isTimer(timeLogData.value)
})

function startAsTimer() {
	submitForm({
		...timeLogData.value,
		to_time: "",
	})
}

function duplicateAsTimer() {
	submitForm({
		...timeLogData.value,
		from_time: ISOLocaleString(new Date()),
		name: "",
		to_time: "",
	})
}

function closeTimer() {
	submitForm({
		...timeLogData.value,
		to_time: ISOLocaleString(new Date()),
	})
}

function saveForm() {
	const allEmployees = [timeLogData.value.employee, ...(timeLogData.value.employees ?? [])].filter(Boolean)
	const employees = []
	const seen = new Set()

	for (const name of allEmployees) {
		if (!seen.has(name)) {
			seen.add(name)
			employees.push(name)
		}
	}

	submitForm({
		...timeLogData.value,
		employee: employees[0],
		employees: employees.slice(1),
	})
}

const isDocReadOnly = computed(() => {
	return isReadOnly(timeLogData.value)
})

async function addTeam() {
	// Get all Employees
	const res = createListResource({
		doctype: "Employee",
		auto: true,
		transform: (data) => data.map((doc) => doc.name),
	})
	await res.list.promise

	const seen = new Set(timeLogData.value.employees)
	seen.add(timeLogData.value.employee)

	for (const name of res.data) {
		if (!seen.has(name)) {
			seen.add(name)
			addEmployee(name)
		}
	}
}

function addEmployee(name = "") {
	timeLogData.value.employees.push(name)
}
</script>
