<template>
	<div>
		<div class="bg-white rounded overflow-hidden">
			<CameraQR @qr-submit="handleQrScanned" />
		</div>
		<div v-for="item in getListOfTimers()" class="flex flex-col gap-4 mt-2">
			<ItemTimerList :item="item" />
		</div>
	</div>
</template>

<script setup>
import CameraQR from "../../components/CameraQR.vue"
import ItemTimerList from "../../components/TimerItem.vue"
import { employeeResource } from "../../data/employee";
import { upsertTimeLog, makeNewTimer, getListOfTimers, showTimerStartedToast } from "./timerStore"

async function handleQrScanned(result) {
	try {
		var parsedResult = JSON.parse(result)
	} catch (error) {
		debugger
	}

	await employeeResource.promise
	parsedResult.employee ??= employeeResource.data?.name

	const timeLog = makeNewTimer(parsedResult)
	upsertTimeLog(timeLog)
	showTimerStartedToast()
}
</script>
